        #first{
           background-image: url(forrest2.jpg);
<<<<<<< HEAD
           width: 100%;
           height: auto;
=======
           width: 101%;
           height: 100%;
>>>>>>> bb0d453b75a10304ede4aff17016dc6cdf10f341
           position: absolute;
           margin-left: -1%;
           margin-top: -1%
       }  
        #second{
           background-image: url(forrest2.jpg);
           width: 101%;
           height: 250%;
           position: absolute;
           margin-left: -1%;
           margin-top: -1%
       } 

        #logo{
            position: relative;
            align-content: center;
            height: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
        }
        #meny{
            position: relative;
            text-align: center;
            font-family: 'ITC Avant Garde Gothic W01 Bd', sans-serif, sans-serif; 
            margin: auto;
            width: 100%;
            padding: 10px;
            word-spacing: 300px;
            margin-top: -90px;
            margin-left: -2%;
            font-variant: small-caps;
            font-size: 20px;
        }
       #txt1{
           position: relative;
           height: 40px;
           font-family: inherit; 
           width: 500px;
           margin-left: 9%;
           margin-top:15%;
           color: white;
           text-align: center;
           font-size: 50px;
       }  
       #txt2{
           position: relative;
           font-family: inherit; 
           width: 300px;
           margin-left: 16%;
           margin-top: 8%;
           text-align: center;
           font-size: 16px;
           background-color: #738963;
           font-variant: small-caps;
           
       } 
       #txt3{
           position: relative;
           font-family: inherit; 
           width: 170px;
           margin-left: 20%;
           top: -12px;
           text-align: center;
           font-size: 16px;
           background-color: #738963;
           font-variant: small-caps; 
       }
       #btnShop{
           position: relative;
           cursor: pointer;
           height: 50px;
           font-family: 'ITC Avant Garde Gothic W01 Bd', sans-serif, sans-serif; 
           width: 400px;
           background-color: forestgreen;
           margin-left: 10%;
           margin-top: 3%;
           color: white;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           border: none;
           
       }
       #imgBottles{
            position: absolute;
           margin-left:60%;
           height: 50%;
           margin-top: -25%;
       } 
    #product1{
            position: absolute;
            text-align: center;
            top: 13%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 18%;
            margin-right: auto;
            width: 350px;
            color: whitesmoke;
    } 
    #product2{
            position: absolute;
            text-align: center;
            top: 13%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 38%;
            margin-right: auto;
             width: 350px;
            color: whitesmoke;
    }
    #product3{
            position: absolute;
            text-align: center;
            top: 13%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 58%;
            margin-right: auto;
            width: 350px;
            color: whitesmoke;
    }
    
    
    #product4{
            position: absolute;
            text-align: center;
            top: 35%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 18%;
            margin-right: auto;
            width: 350px;
            color: gray;
    }   
 #product5{
            position: absolute;
            text-align: center;
            top: 35%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 38%;
            margin-right: auto;
            width: 350px;
            color: gray;
    }
    #product6{
            position: absolute;
            text-align: center;
            top: 35%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 58%;
            margin-right: auto;
            width: 350px;
            color: whitesmoke;
    }
    
    
    #product7{
            position: absolute;
            text-align: center;
            top: 58%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 18%;
            margin-right: auto;
            width: 350px;
            color: whitesmoke;
    } 
    #product8{
            position: absolute;
            text-align: center;
            top: 58%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 38%;
            margin-right: auto; 
            width: 350px;
            color: whitesmoke;
    }
 #product9{
            position: absolute;
            text-align: center;
            top: 58%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 58%;
            margin-right: auto; 
            width: 350px;
            color: whitesmoke;
}
    #product10{
            position: absolute;
            text-align: center;
            top: 80%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 18%;
            margin-right: auto;
            width: 350px;
            color: whitesmoke;
    } 
  #cbLag{
            position: absolute;
            top: 20%;
            left: 20%;;
            align-content: center;
        }      
        #btnSvar{
          
            background-color: #738963;
            color: white;
            height: 40px;
            width: 130px;
            border: none;
        }
        #btnRestart{
            background-color: #738963;
            color: white;
            height: 40px;
            width: 130px;
            border: none;
        }
        #resultat{
            position: absolute;
            margin-left: 60%;
            height: 50%;
            margin-top: 8%;
            font-size: 20px;
            align-content: center;
            text-align: center;
            color: whitesmoke;
            font-variant: small-caps;

}
 #info{
            position: relative;
            text-align: center;
            align-content: center;
            top: 20%;
            width: 50%;
            font-family: inherit; 
            font-variant: small-caps;
            font-size: 130%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            line-height: 40px;
     background-color: #738963;

        }
        h1{
            position: absolute;
            text-align: center;
            top: 30%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 23%;
            margin-right: auto;      
    
}
        a:link {
            color: black;
            text-decoration: none;
<<<<<<< HEAD
            
=======
            font-size: ;
>>>>>>> bb0d453b75a10304ede4aff17016dc6cdf10f341
        }
        a:visited {
            text-decoration: none;
            color: black;
        }
        a:hover {
            text-decoration: none;
            color: darkgreen;
        }
        a:active {
            text-decoration: none;
            color: black;
                }
 