        body{
            background-color: dimgray;
            
        }
        #first{
           background-image: url(forrest2.jpg);
           width: 99%;
           height: 100%;
           position: absolute;
           display: block;
           margin-left: auto;
           margin-right: auto;
          
       }  
        #second{
           background-image: url(forrest2.jpg);
           width: 99%;
           height: 60%;
           position: absolute;
           display: block;
           margin-left: auto;
           margin-right: auto;
          
       } 

        #logo{
            position: relative;
            align-content: center;
            height: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
        }
        #meny{
            position: relative;
            text-align: center;
            font-family: 'ITC Avant Garde Gothic W01 Bd', sans-serif, sans-serif; 
            padding: 10px;
            word-spacing: 20px;
            margin-top: auto;
            margin-left: auto;
            display: block;
            font-variant: small-caps;
            font-size: 20px;
        }
      
       #txt1{
           position: relative;
           height: 40px;
           font-family: inherit; 
           width: auto;
           margin-left: auto;
           margin-right: auto;
           margin-top: 10%;
           margin-bottom: 5%;
           display: block;
           color: white;
           text-align: center;
           font-size: 50px;
       }  
       #txt2{
           position: relative;
           font-family: inherit; 
           width: 300px;
           display: block;
           margin-top: 5%;
           margin-right: auto;
           margin-left: auto;
           text-align: center;
           margin-top: 10px;
           font-size: 16px;
           background-color: #738963;
           font-variant: small-caps;
           
       } 
       #txt3{
           position: relative;
           font-family: inherit; 
           width: 170px;
           display: block;
           margin-left: auto;
           margin-right: auto;
           text-align: center;
           font-size: 16px;
           background-color: #738963;
           font-variant: small-caps; 
       }
       #btnShop{
           position: relative;
           cursor: pointer;
           height: 50px;
           font-family: 'ITC Avant Garde Gothic W01 Bd', sans-serif, sans-serif; 
           width: 400px;
           background-color: forestgreen;
           margin-left: 10%;
           margin-top: 3%;
           color: white;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           border: none;
           
       }
   #product1{
            position: absolute;
            text-align: center;
            top: 70%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 18%;
            margin-right: auto;
            width: 350px;
    } 
    #product2{
            position: absolute;
            text-align: center;
            top: 70%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 38%;
            margin-right: auto;
             width: 350px;
    }
    #product3{
            position: absolute;
            text-align: center;
            top: 70%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 58%;
            margin-right: auto;
            width: 350px;
    }
    
    
    #product4{
            position: absolute;
            text-align: center;
            top: 150%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 18%;
            margin-right: auto;
            width: 350px;
    } 
    #product5{
            position: absolute;
            text-align: center;
            top: 150%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 38%;
            margin-right: auto;
            width: 350px;
    }
    #product6{
            position: absolute;
            text-align: center;
            top: 150%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 58%;
            margin-right: auto;
            width: 350px;
    }
    
    
    #product7{
            position: absolute;
            text-align: center;
            top: 230%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 18%;
            margin-right: auto;
            width: 350px;
    } 
    #product8{
            position: absolute;
            text-align: center;
            top: 230%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 38%;
            margin-right: auto; 
            width: 350px;
    }
    #product9{
            position: absolute;
            text-align: center;
            top: 230%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 58%;
            margin-right: auto; 
            width: 350px;
    }

    #product10{
            position: absolute;
            text-align: center;
            top: 300%;
            font-family:"Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 18%;
            margin-right: auto;
            width: 350px;
    } 
  #cbLag{
            position: absolute;
            top: 26%;
            left: 20%;;
            align-content: center;
        }      
        #btnSvar{
          
            background-color: #738963;
            color: white;
            height: 40px;
            width: 130px;
            border: none;
        }
        #btnRestart{
            background-color: #738963;
            color: white;
            height: 40px;
            width: 130px;
            border: none;
        }
        #resultat{
            position: absolute;
            margin-left: 60%;
            height: 50%;
            margin-top: 2%;
            font-size: 20px;
            align-content: center;
            text-align: center;
            color: whitesmoke;
            font-variant: small-caps;

}
 #info{
            position: relative;
            text-align: center;
            align-content: center;
            top: 20%;
            width: 50%;
            font-family: inherit; 
            font-variant: small-caps;
            font-size: 130%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            line-height: 40px;
            background-color: #738963;

        }
        h1{
            position: absolute;
            text-align: center;
            top: 30%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 23%;
            margin-right: auto;      
    
}
        a:link {
            color: black;
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
            color: black;
        }
        a:hover {
            text-decoration: none;
            color: darkgreen;
        }
        a:active {
            text-decoration: none;
            color: black;
                }
 